@charset "utf-8";
body,html{
    font-size: 62.5%;
    font-family: 'Malgun Gothic', sans-serif;
    --omega-red: #c40d2e;
    --omega-gray: #555;
    --omega-lightgray: #f9f9f9;
    min-height: 100vh;
    max-width: 100%;
    line-height: 1.5;
}
/* ======================== 로딩화면 ======================== */
.curtain{
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: 1;
}
.loading{
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
}
.loading .video_007{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.loading .line{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}
.loading .line p{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    display: none;
}

/* ======================== 경고창 ======================== */
.alert .alert-curtain{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: fixed;
    z-index: 10;
    display: none;
}
.alert .alert-message{
    width: 240px;
    height: 120px;
    padding-top: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: var(--omega-red);
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 11;
    transform: translate(-50%, -100%);
    display: none;
}
.alert .alert-message img{
    width: 18px;
    margin-bottom: 14px;
}
.alert .alert-message p{
    font-size: 14px;
    font-weight: 600;
}

/* ======================== TOP 버튼 ======================== */
.top-btn{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 80px;
    background: var(--omega-red);
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 9;
    cursor: pointer;
    display: none;
}

/* ======================== 헤더영역 ======================== */
header{
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    background: #fff;
    position: fixed;
    z-index: 9;
}
header .logo_gnb{
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--omega-gray);
    font-size: 13px;
    padding: 10px 0;
}
header .logo_gnb li a,
header .logo_gnb li i{
    cursor: pointer;
}
header .logo_gnb li a:hover,
header .logo_gnb li i:hover{
    color: var(--omega-red);
}
header .logo_gnb li a:hover .ham>div{
    background: var(--omega-red);
}
header .logo_gnb .lm{
    display: flex;
    width: 44%;
}
header .logo_gnb i{
    font-size: 16px;
}
header .logo_gnb .lm li{
    height: 40px;
    line-height: 40px;
    padding-right: 6%;
}
header .logo_gnb .lm li:nth-child(1) a{
    display: flex;
}
header .logo_gnb .lm .no-show{
    display: none;
}
header .logo_gnb .lm .ham div{
    width: 14px;
    height: 2px;
    background: var(--omega-gray);
    margin-right: 10px;
    position: relative;
    top: 15px;
    transition: all 0.5s;
}
header .logo_gnb .lm .X-btn div:nth-child(1){
    transform: rotate(45deg) translate(2px,5px);
}
header .logo_gnb .lm .X-btn div:nth-child(2){
    opacity: 0;
}
header .logo_gnb .lm .X-btn div:nth-child(3){
    transform: rotate(-45deg) translate(2px,-5px);
}
header .logo_gnb .lm .ham div:nth-child(2){
    margin: 3px 0;
}
header .logo_gnb .logo img{
    width: 70px;
    cursor: pointer;
}
header .logo_gnb .rm{
    display: flex;
    justify-content: end;
    width: 44%;
}
header .logo_gnb .rm li{
    margin-left: 4%;
}

/* ======================== HAM MENU ======================== */
.ham_menu{
    width: 350px;
    height: calc( 100vh - 60px );
    position: fixed;
    top: 60px;
    left: -350px;
    z-index: 7;
    background: #fff;
    border-top: 1.5px solid #e5e5e5;
    padding: 50px 30px 50px 75px;
    transition: all 0.5s;
}
.comeon{
    left: 0;
}
.ham_menu .line{
    width: 80%;
    height: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}
.ham_menu .ham_menu-1f li,
.ham_menu .ham_menu-2f li{
    font-size: 13px;
    font-weight: 600;
    color: var(--omega-gray);
    padding: 12px 0;
    cursor: pointer;
}
.ham_menu ul li:hover,
.ham_menu ul li:hover span{
    color: var(--omega-red);
}
.ham_menu li.active{
    color: var(--omega-red);
}
.ham_menu .ham_menu-1f span{
    color: #cdcdcd;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    width: 30px;
    text-align: left;
}
.ham_menu .ham_menu-2f{
    padding: 15px 10px 15px 30px;
    display: none;
}
.ham_menu .ham_menu-2f li{
    padding: 10px 0;
}
.ham_curtain{
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: 5;
    opacity: 0.5;
    display: none;
}

/* ======================== 메인영역 1 ======================== */
main{
    padding-top: 60px;
    padding-bottom: 100px;
}
.seamaster{
    width: 100%;
    height: 50vw;
    background: url(../images/img-Header-SEDiver300MJB-21030422003002-large.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
}
.seamaster div{
    width: 100%;
    position: absolute;
    top: 80px;
}
.seamaster img{
    width: 8%;
    margin-bottom: 8px;
}
.seamaster h2{
    font-size: 3.8rem;
    margin-bottom: 8px;
    letter-spacing: 0.16em;
}
.seamaster h3{
    font-size: 1.6rem;
}

/* ======================== 메인영역 2 ======================== */
.jb_60th{
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.jb_60th .logo img{
    width: 120px;
}
.red_title{
    width: 62%;
    margin: 0 auto;
}
.red_title .title{
    font-size: 3.8rem;
    letter-spacing: 0.16em;
    margin-bottom: 0.7em;
    color: var(--omega-red);
}
.red_title .txt{
    font-size: 1.7rem;
    color: var(--omega-gray);
}
.jb_60th .model{
    padding-top: 100px;
    width: 66%;
    margin: 0 auto;
}
.jb_60th .model .divide{
    display: flex;
    width: 100%;
}
.jb_60th .model .divide .half_l,
.jb_60th .model .divide .half_r{
    width: 50%;
}
.jb_60th .model .divide .half_l{
    padding-right: 2%;
    padding-top: 50px;
}
.jb_60th .model .divide .half_r{
    padding-left: 2%;
}
.jb_60th .model .divide img{
    width: 100%;
}
.jb_60th .model .divide .half_r .product{
    width: 100%;
    display: flex;
    margin-top: 5%;
}
.jb_60th .model .divide .half_r .product img{
    max-width: 200px;
}
.jb_60th .model .divide .half_r .product .info{
    margin: 30px auto 10px 30px;
    color: var(--omega-gray);
    text-align: left;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    line-height: 1.5;
}
.jb_60th .model .divide .half_r .product .info .new_prod{
    width: 52px;
    height: 25px;
    margin: 20px 0 10px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    background: #f9f9f9;
}
.jb_60th .model .divide .half_r .product .info .diver300{
    font-weight: 700;
}
.jb_60th .model .divide .half_r .product .info .co-ax{
    margin: 8px 0 16px;
}
.jb_60th .model .divide .half_r .product .info .co-ax span{
    color: var(--omega-red);
}
.jb_60th .model .divide .half_r .product .info .price{
    font-weight: 700;
}
.jb_60th .model .divide .half_r .product .info .detail{
    max-width: 120px;
    min-height: 39px;
    line-height: 39px;
    margin-top: 12px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0 !important;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.jb_60th .model .divide .half_r .product .info .detail .red-effect{
    display: block;
    width: 100%;
    height: 100%;
    background: var(--omega-red);
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}
.jb_60th .model .divide .half_r .product .info .detail:hover{
    color: #fff;
}
.jb_60th .model .divide .half_r .product .info .detail:hover .red-effect{
    transform: translateY(-39px);
}

/* ======================== 메인영역 3 ======================== */
.jb_detail{
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.jb_detail .detail_image{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}
.jb_detail .detail_image iframe{
    width: 66%;
    aspect-ratio: 100/56;
}
.jb_detail .detail_image .section-img{
    width: 33%;
    text-align: left;
    margin-left: 1%;
    position: relative;
}
.jb_detail .detail_image .section-img img{
    width: 100%;
    position: absolute;
}
.jb_detail .design_list{
    padding-top: 100px;
}
.jb_detail .design_list li{
    width: 33.33%;
    float: left;
    position: relative;
}
.jb_detail .design_list li img{
    width: 100%;
    padding: 0;
}
.jb_detail .design_list li:nth-child(1) img,
.jb_detail .design_list li:nth-child(2) img,
.jb_detail .design_list li:nth-child(3) img{
    margin-bottom: 50px;
}
.jb_detail .design_list li .design_detail{
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--omega-lightgray);
    opacity: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    transition: all 0.7s;
    cursor: default;
    overflow: hidden;
}
.jb_detail .design_list li .design_detail:hover{
    opacity: 1;
}
.jb_detail .design_list li .design_detail span{
    display: block;
    font-size: 2.4rem;
    color: var(--omega-red);
    letter-spacing: 0.04em;
    margin: 0 auto 5%;
}
.jb_detail .design_list li .design_detail p{
    font-size: 1.7rem;
    color: var(--omega-gray);
    letter-spacing: 0 !important;
    margin: 0 5%;
    transform: translateY(-100px);
    transition: all 0.7s;
}
.jb_detail .design_list li .design_detail:hover p{
    transform: translateY(0);
}

/* ======================== 메인영역 4 ======================== */
.accessory{
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.accessory .acc_img{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
}
.accessory .acc_img div{
    width: 50%;
    padding: 0 1%;
}
.accessory .acc_img div img{
    width: 100%;
}
.accessory .acc_product{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
}
.accessory .acc_product .prod_info{
    width: 20%;
}
.accessory .acc_product .prod_info img{
    width: 90%;
    margin: 0 auto;
}
.accessory .acc_product .prod_info .txt{
    padding: 30px 8px 16px;
}
.accessory .acc_product .prod_info .txt p{
    font-size: 14px;
    color: var(--omega-gray);
}
.accessory .acc_product .prod_info .txt .category{
    font-weight: 600;
    margin-bottom: 8px;
}
.accessory .acc_product .prod_info:nth-child(3) .txt .prod_name{
    min-height: 63px;
}
.accessory .acc_product .prod_info .txt .edition{
    color: var(--omega-red);
}
.accessory .acc_product .prod_info .txt .price{
    font-weight: 600;
    margin: 30px 0 12px;
}
.accessory .acc_product .prod_info .txt .buynow{
    margin: 0 auto;
    width: 130px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e2e2e2;
    text-align: center;
    font-size: 13px;
    color: var(--omega-gray);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.accessory .acc_product .prod_info .txt .buynow .red-effect{
    display: block;
    width: 100%;
    height: 100%;
    background: var(--omega-red);
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}
.accessory .acc_product .prod_info .txt .buynow:hover{
    color: #fff;
}
.accessory .acc_product .prod_info .txt .buynow:hover .red-effect{
    transform: translateY(-40px);
}

/* ======================== 메인영역 5 ======================== */
.other_editions{
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.other_editions .others{
    width: 66%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
}
.other_editions .others .edition{
    width: 50%;
    padding: 0 1%;
    position: relative;
}
.other_editions .others .edition img{
    width: 100%;
}
.other_editions .others .edition .txt{
    width: 96%;
    aspect-ratio: 8/9;
    position: absolute;
    top: 0;
    z-index: 1;
    background: var(--omega-lightgray);
    opacity: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    transition: all 0.7s;
    cursor: default;
    overflow: hidden;
}
.other_editions .others .edition .txt:hover{
    opacity: 1;
}
.other_editions .others .edition .txt span{
    display: block;
    font-size: 2.4rem;
    color: var(--omega-red);
    letter-spacing: 0.04em;
    margin: 0 auto 5%;
}
.other_editions .others .edition .txt p{
    font-size: 1.7rem;
    color: var(--omega-gray);
    letter-spacing: 0 !important;
    margin: 0 5%;
    transform: translateY(-100px);
    transition: all 0.7s;
}
.other_editions .others .edition .txt:hover p{
    transform: translateY(0);
}
.other_editions .others .edition .product{
    width: 100%;
    display: flex;
    margin-top: 5%;
}
.other_editions .others .edition .product img{
    max-width: 200px;
}
.other_editions .others .edition .product .info{
    margin: 30px auto 10px 30px;
    color: var(--omega-gray);
    text-align: left;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    line-height: 1.5;
}
.other_editions .others .edition .product .info .not_new{
    height: 55px;
}
.other_editions .others .edition .product .info .new_prod{
    width: 52px;
    height: 25px;
    margin: 20px 0 10px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    background: #f9f9f9;
}
.other_editions .others .edition .product .info .diver300{
    font-weight: 700;
}
.other_editions .others .edition .product .info .co-ax{
    margin: 8px 0 16px;
}
.other_editions .others .edition .product .info .co-ax span{
    color: var(--omega-red);
}
.other_editions .others .edition .product .info .price{
    font-weight: 700;
}
.other_editions .others .edition .product .info .detail{
    max-width: 120px;
    min-height: 39px;
    line-height: 39px;
    margin-top: 12px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0 !important;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.other_editions .others .edition .product .info .detail .red-effect{
    display: block;
    width: 100%;
    height: 100%;
    background: var(--omega-red);
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}
.other_editions .others .edition .product .info .detail:hover{
    color: #fff;
}
.other_editions .others .edition .product .info .detail:hover .red-effect{
    transform: translateY(-39px);
}

/* ======================== 추가영역 ======================== */
aside{
    position: relative;
}
aside .fnb{
    padding: 50px 3%;
    font-size: 1.3rem;
    color: var(--omega-gray);
}
aside .fnb span{
    font-weight: 600;
}
aside .fnb li{
    padding: 2px 0;
}
aside .fnb>ul{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}
aside .fnb>ul>div{
    width: 25%;
}
aside .fnb>ul>div>li{
    margin-bottom: 30px;
}
aside .fnb .fnb-sub{
    margin-top: 15px;
}
aside .fnb .fnb-sub li{
    margin-bottom: 5px;
}
aside .fnb .fnb-sub li a:hover{
    color: var(--omega-red);
}
aside .sns{
    color: var(--omega-gray);
    position: absolute;
    bottom: 15%;
    left: 50%;
}
aside .sns h3{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 22px;
}
aside .sns ul{
    display: flex;
}
aside .sns ul li{
    font-size: 25px;
    margin-right: 40px;
}
aside .sns ul li i{
    cursor: pointer;
    transition: all 0.3s;
}
aside .sns ul li i:hover{
    color: var(--omega-red);
}
/* ======================== 푸터영역 ======================== */
footer{
    background: var(--omega-lightgray);
    padding: 20px 3%;
}
footer .info{
    max-width: 1250px;
    margin: 0 auto;
    font-size: 11px;
    color: var(--omega-gray);
}
footer .info .legal-menu{
    margin-top: 10px;
    display: flex;
}
footer .info .legal-menu li:after{
    content: "|";
    display: inline-block;
    margin: 0 20px;
    color: #cdcdcd;
}
footer .info .legal-menu li:last-child:after{
    content: "";
}
footer .info .legal-menu li a{
    transition: all 0.3s;
}
footer .info .legal-menu li a:hover{
    color: var(--omega-red);
}


/* 태블릿 미디어쿼리 768px 이하 */
@media screen and (max-width:768px){
    /* ======================== 헤더영역 ======================== */
    header .logo_gnb{
        width: 94%;
    }
    header .logo_gnb .lm{
        width: 30%;
    }
    header .logo_gnb i{
        font-size: 20px;
        margin-left: 10px;
    }
    header .logo_gnb .lm .ham div{
        width: 18px;
    }
    header .logo_gnb i:nth-child(3){
        margin-left: 0;
    }
    header .logo_gnb .lm li:nth-child(1) p,
    header .logo_gnb .lm li:nth-child(2),
    header .logo_gnb .lm li:nth-child(3),
    header .logo_gnb .lm li:nth-child(4),
    header .logo_gnb .lm li:nth-child(5){
        display: none;
    }
    header .logo_gnb .logo img{
        width: 60px;
    }
    header .logo_gnb .rm{
        width: 30%;
    }
    header .logo_gnb .rm li:nth-child(2),
    header .logo_gnb .rm li:nth-child(3){
        display: none;
    }

    /* ======================== HAM MENU ======================== */
    .ham_menu{
        padding: 0;
    }
    .ham_menu .line{
        display: none;
    }
    .ham_menu .ham_menu-1f li,
    .ham_menu .ham_menu-2f li{
        font-size: 1.5rem;
        padding: 12px 16px;
    }
    .ham_menu .ham_menu-2f{
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    .ham_menu .ham_menu-1f span{
        font-size: 1.7rem;
        width: 24px;
    }
    .ham_menu .ham_menu-2f{
        padding: 0 30px;
    }
    .ham_menu .ham_menu-2f li{
        font-size: 1.4rem;
        font-weight: 400;
        padding: 8px 0;
    }
    /* ======================== 메인영역 1 ======================== */
    .seamaster{
        height: 128vw;
        background: url(../images/img-Header-SEDiver300MJB-21030422003002-small.jpg) no-repeat;
        background-size: cover;
    }
    .seamaster div{
        top: 15%;
    }
    .seamaster img{
        width: 20%;
    }
    .seamaster h2{
        font-size: 2.4rem;
        margin-bottom: 0;
    }
    .seamaster h3{
        font-size: 1.2rem;
    }

    /* ======================== 메인영역 2 ======================== */
    .jb_60th{
        padding-top: 60px;
    }
    .red_title{
        width: 90%;
    }
    .red_title .title{
        font-size: 2.4rem;
    }
    .red_title .txt{
        font-size: 1.4rem;
    }
    .jb_60th .model{
        padding-top: 60px;
        width: 90%;
    }
    .jb_60th .model .divide{
        display: block;
    }
    .jb_60th .model .divide .half_l,
    .jb_60th .model .divide .half_r{
        width: 100%;
    }
    .jb_60th .model .divide .half_l{
        padding-right: 0;
        padding-top: 0;
    }
    .jb_60th .model .divide .half_r{
        padding-left: 0;
        padding-top: 30px;
    }
    .jb_60th .model .divide .half_r .product{
        width: 100%;
        display: flex;
        margin-top: 5%;
    }
    .jb_60th .model .divide .half_r .product img{
        margin-top: 16px;
    }
    .jb_60th .model .divide .half_r .product .info{
        margin: 10px auto 10px 16px;
        font-size: 1.4rem;
        letter-spacing: 0;
    }
    
    /* ======================== 메인영역 3 ======================== */
    .jb_detail{
        padding-top: 50px;
    }
    .jb_detail .detail_image{
        width: 90%;
        padding: 50px 0;
        display: block;
    }
    .jb_detail .detail_image iframe{
        width: 100%;
        aspect-ratio: 100/56;
    }
    .jb_detail .detail_image .section-img{
        width: 100%;
        aspect-ratio: 1/1;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .jb_detail .design_list{
        padding-top: 50px;
    }
    .jb_detail .design_list li{
        width: 90%;
        margin-left: 5%;
    }
    .jb_detail .design_list li:nth-child(1) img,
    .jb_detail .design_list li:nth-child(2) img,
    .jb_detail .design_list li:nth-child(3) img{
        margin-bottom: 0;
    }
    .jb_detail .design_list li .design_detail p{
        font-size: 1.4rem;
    }

    /* ======================== 메인영역 4 ======================== */
    .accessory{
        padding-top: 50px;
    }
    .accessory .acc_img{
        width: 90%;
        padding-top: 50px;
        display: block;
    }
    .accessory .acc_img div{
        width: 100%;
        padding: 0;
    }

    .accessory .acc_product{
        width: 90%;
        padding-top: 50px;
        display: flex;
        flex-flow: row wrap;
    }
    .accessory .acc_product .prod_info{
        width: 50%;
    }
    .accessory .acc_product .prod_info .txt p{
        font-size: 1.4rem;
    }

    /* ======================== 메인영역 5 ======================== */
    .other_editions{
        padding-top: 50px;
    }
    .other_editions .others{
        width: 90%;
        padding-top: 0;
        display: block;
    }
    .other_editions .others .edition{
        width: 100%;
        padding-top: 50px;
    }
    .other_editions .others .edition .txt{
        width: 100%;
        top: 50px;
    }
    .other_editions .others .edition .txt p{
        font-size: 1.4rem;
    }
    .other_editions .others .edition .product .info{
        margin: -10px auto 10px 16px;
        font-size: 1.4rem;
        letter-spacing: 0;
    }
    .other_editions .others .edition:nth-child(2) .co-ax span{
        font-size: 1.37rem;
    }

    /* ======================== 추가영역 ======================== */
    aside .fnb{
        padding: 0 3%;
        font-size: 2rem;
    }
    aside .fnb li{
        padding: 0;
    }
    aside .fnb>ul{
        display: block;
    }
    aside .fnb>ul>div{
        width: 100%;
    }
    aside .fnb .fnb-sub{
        display: none;
    }
    aside .sns{
        position: absolute;
        bottom: 0;
        left: 90%;
    }
    aside .sns h3{
        display: none;
    }
    aside .sns ul{
        display: block;
    }
    aside .sns ul li{
        margin-right: 0;
    }

    /* ======================== 푸터영역 ======================== */
    footer .info .legal-menu li:after{
        content: "";
    }
    
}