@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; height: 80px;
    padding: 0 5vw;
    border-bottom: 1px solid #000;
}
.logo {
    font-family: 'Shadows Into Light';
    font-size: 28px;
}
.menu-list {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    text-align: center;
}
.menu-list li {
    padding-bottom: 4px;
    margin-left: 40px;
}
.menu-list li:hover {
    border-bottom: 1px dashed #000;
}
.menu-list li i {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.container {
    margin: 0 auto;
    width: 90vw;
}