@charset "utf-8";
#wrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    /* 위치 기본값 */
    position: relative;
}

/* Header */
header {
    height: 80px;
    background-color: orange;
}
header h1 {
    width: 150px;
    height: 80px;
    line-height: 80px;
    background-color: #ccc;
    /* 플롯 */
    float: left;
}
header .gnb {
    width: 850px;
    height: 80px;
    line-height: 80px;
    background-color: orangered;
    /* 플롯 */
    float: right;
}
header .gnb li {
    margin-left: 40px;
    /* 플롯 */
    float: left;
}
/* 추가사항 | GNB메뉴 왼쪽에 바짝 붙여서 만들기 */
header .gnb li:nth-child(1) {
    margin-left: 0 !important;
}
header .gnb li a:hover {
    color: #fff;
}
/* 플롯해제 */
header:after {
    content: "";
    display: block;
    clear: both;
}

/* Contents */
#left_side {
    width: 300px;
    height: 500px;
    line-height: 500px;
    background-color: pink;
    /* 플롯 */
    float: left;
}
#right_side {
    width: 700px;
    height: 500px;
    line-height: 500px;
    background-color: green;
    /* 플롯 */
    float: left;
}
/* 플롯해제 */
article:after {
    content: "";
    display: block;
    clear: both;
}

/* Aside */
aside {
    width: 80px;
    height: 200px;
    line-height: 200px;
    background-color: #33b4bf;
    /* 포지션 */
    position: absolute;
    left: 1000px;
    right: -80px;
    top: 0;
    z-index: 1;
}

/* Footer */
footer {
    height: 80px;
    line-height: 80px;
    background-color: yellowgreen;
}