@charset "utf-8";
.w1300{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
/* Header */
header .first_line{
    background-color: #1d1c2e;
}
#fir_box{
    display: flex;
    justify-content: flex-end;
}
header .first_line .fir_box{
    margin-right: 40px;
    padding: 20px 0;
    display: flex;
}
header .first_line .fir_box p{
    font-size: 12px;
    color: #fff;
}
header .first_line .fir_box .x_box{
    width: 14px;
    height: 14px;
    margin-left: 16px;
    background-color: #ff0000;
    text-align: center;
}
header .first_line .fir_box .x_box2{
    width: 14px;
    height: 14px;
    margin-left: 405px;
    background-color: #ff0000;
    text-align: center;
}
.second_line{
    padding-top: 24px;
    padding-bottom: 26px;
    display: flex;
    justify-content: flex-end;
}
.second_line .box1{
    width: 128px;
    height: 23px;
    margin-right: 486px;
    background-color: #313131;
    text-align: center;
}
.second_line .x_box{
    width: 23px;
    height: 23px;
    background-color: #313131;
    text-align: center;
}
.second_line>nav>ul {
    display: flex;
}
.second_line ul li{
    font-size: 10px;
    margin-left: 12px;
}
.third_line{
    display: flex;
    justify-content: space-between;
}
.third_line .logo{
    width: 58px;
    height: 54px;
    background-color: #898989;
    font-size: 14px;
    text-align: center;
    line-height: 54px;
}
.third_line ul{
    display: flex;
}
.third_line .gnb{
    margin-left: 100px;
}
.third_line ul li{
    font-size: 12px;
    margin: 21px 26px;
}
.third_line .gnb li{
    font-weight: 700;
}
.fourth_line{
height: 600px;
background-color: #000;
}
/* Contents */
.first_section{
    margin-top: 142px;
    margin-bottom: 150px;
    display: flex;
}
.first_section .black_box{
    width: 620px;
    height: 482px;
    background-color: #000;
}
.w660{
    width: 660px;
}
.green_box {
    background-color: #00ff00;
    width: 172px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: 36px;
    margin-left: 345px;
}
.cards_box{
    width: 740px;
    height: 330px;
    margin-top: 32px;
    margin-bottom: 30px;
    display: flex;
    position: relative;
    left: -80px;
    top: 0;
    z-index: 1;
}
.cards_box .card1{
    width: 240px;
    height: 330px;
    margin-right: 10px;
    text-align: center;
    line-height: 330px;
    background-color: #d896b2;
}
.cards_box .card2{
    width: 240px;
    height: 330px;
    margin-right: 10px;
    text-align: center;
    line-height: 330px;
    background-color: #e6d1d0;
}
.cards_box .card3{
    width: 240px;
    height: 330px;
    margin-right: 10px;
    text-align: center;
    line-height: 330px;
    background-color: #224891;
}
.grey_box{
    width: 130px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #848484;
    position: relative;
    left: 530px;
    top: 0;
    z-index: 1;
}
.second_section{
    height: 625px;
    background-color: #f5f5f5;
}
.lr_flex{
    display: flex;    
}
.second_section .left_section{
    margin: 88px 77px 88px 100px;
    width: 235px;
}
.second_section .left_section .box1{
    width: 235px;
    height: 80px;
    background-color: #000;
}
.second_section .left_section ul{
    width: 235px;
    height: 234px;
    text-align: center;
}
.second_section .left_section ul li{
    margin: 30px;
}
.second_section .left_section .box2{
    width: 130px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #848484;
    margin: 36px auto;
}
.right_section{
    /* width: 1065px; */
    width: 81.9231%;
    padding: 88px 92px 88px 0;
}
.right_section .box3{
    /* width: 800px; */
    width: 100%;
    height: 452px;
    background-color: #000;
}
.third_section{
    height: 735px;
}
.third_section .first_box{
    width: 260px;
    height: 25px;
    background-color: #000;
    margin: 126px auto 46px;
}
.img1{
    width: 185px;
    height: 185px;
    background-color: #acb6b8;
    text-align: center;
    line-height: 185px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img2{
    width: 185px;
    height: 185px;
    background-color: #f8a5af;
    text-align: center;
    line-height: 185px;
    margin-right: 5px;
}
.img3{
    width: 185px;
    height: 185px;
    background-color: #e4dbca;
    text-align: center;
    line-height: 185px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img4{
    width: 185px;
    height: 185px;
    background-color: #eee6f3;
    text-align: center;
    line-height: 185px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img5{
    width: 185px;
    height: 185px;
    background-color: #e3e9e9;
    text-align: center;
    line-height: 185px;
    margin-bottom: 5px;
}
.img6{
    width: 185px;
    height: 185px;
    background-color: #f4faf8;
    text-align: center;
    line-height: 185px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img7{
    width: 185px;
    height: 185px;
    background-color: #8a8985;
    text-align: center;
    line-height: 185px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img8{
    width: 185px;
    height: 185px;
    background-color: #e7e5e6;
    text-align: center;
    line-height: 185px;
    margin-bottom: 5px;
}
.bigImg{
    width: 375px;
    height: 375px;
    background-color: #bec3bf;
    text-align: center;
    line-height: 375px;
    margin-right: 5px;
}
.images .sec1{
    width: 190px;
}
.images .sec3{
    width: 565px;
    display: flex;
    flex-flow: row wrap;
}
.images{
    margin: 0 82px;
    display: flex;
}
.last_box{
    width: 130px;
    height: 32px;
    background-color: #848484;
    text-align: center;
    line-height: 32px;
    margin: 30px 83px 107px auto;
}
footer{
    height: 330px;
    background-color: #1d1c2e;
    color: #929294;
}
footer .footer_flex{
    display: flex;
    justify-content: space-between;
}
.footer_left{
    margin-left: 73px;
    margin-top: 66px;
}
footer ul{
    color: #fff;
    display: flex;
}
footer ul li{
    margin-right: 10px;
    font-size: 16px;
}
footer .company{
    margin-top: 26px;
    margin-bottom: 24px;
}
footer h3{
    font-size: 12px;
    margin-bottom: 6px;
}
.customer{
    display: flex;
}
.cus_right{
    width: 330px;
    height: 40px;
    background-color: #000;
    margin-left: 46px;
}
.footer_right{
    margin-top: 66px;
    margin-right: 70px;
}
.footer_right h2{
    font-size: 14px;
    margin-bottom: 14px;
}
.footer_right h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.footer_right h4{
    font-size: 12px;
}
.tel{
    margin-bottom: 50px;
}
footer .copy{
    font-size: 12px;
    font-weight: bold;
    margin-top: 36px;
    margin-left: 73px;
}